* {
    margin: 0;
    padding: 0;
  }


  /* Мобильные стили */
  @media only screen and (max-width: 412px) {
  body {
        /* background-color: #F09A9D; */
        display: flex;
        font-family: Lato;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0 auto;
        height: 2321px;
        background: #FFF;
        height: 100vh;
        width: 100vw;
    }

.banner {
    /* position: absolute; */
    display: flex;
    width: 100%;
    height: 545px;
    left: 0px;
    top: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0;
    }

.bannedContent {
    /* position: absolute; */
    display: flex;
    width: 100%;
    height: 528px;
    left: 0px;
    top: 0px;
    flex-direction: column;
}

.cover {
    height: 225px;
    background-image: url(/Users/user/Desktop/firstProject/public/banner.svg);
    background-size: cover;
}

.rectangle21 {
    /* position: absolute; */
    display: flex;
    width: 360px;
    height: 160px;
    left: 0px;
    top: 368px;
    background: #C4C4C4;
}

.background {
    /* position: absolute; */
    display: flex;
    width: 100%;
    height: 368px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 18px;
    padding-top: 24px;
}

.Group28 {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 328px;
    height: 320px;
    left: 16px;
    top: 24px;

}

.buttons {
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 328px;
    height: 120px;
    left: 16px;
    top: 224px;
}

.registration  {
    display: flex;
    background-color: #0057FF;
    width: 328px;
    height: 52px;
    left: 16px;
    top: 224px;
    color: white;
    align-items: center;
    justify-content: center;
}

button {
    box-sizing: border-box;
    /* position: absolute; */
    display: flex;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;  
    border: 1px solid #0057FF;
    border-radius: 10px;
}

.logIn {
    /* position: absolute; */
    display: flex;
    width: 328px;
    height: 52px;
    left: 16px;
    top: 292px;
    justify-content: center;
    align-items: center;
    color: #0057FF;
    background-color: white;
}

label {
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 28.85%;
    bottom: 28.85%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    }

/* Stay in touch
with friends even when they are not around */
h1 {
    /* position: absolute; */
    width: 328px;
    height: 116px;
    left: 16px;
    top: 84px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

.rectangle21 {
    width: 300px;
}

.photo {
    width: 100vw;
    height: 203px;
    flex-shrink: 0;
}

p {
    /* position: absolute; */
    width: 328px;
    height: 116px;
    left: 16px;
    top: 84px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

.statistics {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 457px;
    flex-shrink: 0;
    background: #0057FF;
    padding-top: 20px;
    margin-bottom: 37px;
}

.num {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 200px;
    height: 58px;
}

.small {
    font-size: 18px;
    height: 44px;
}

.Group {
    width: 200px;
    height: 130px;
    flex-shrink: 0;
}

};