<<<<<<< HEAD
@media only screen and (min-width: 1280px) {
=======
/* @media only screen and (min-width: 1280px) { */
>>>>>>> b37b17282ef538279ca717572763c7dbe5746b35

    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: Lato;
        width: auto;
        /* width: 1280px;
        height: 2260px; */
        background: #F4F5F7;
    }
    
    .banner {
        width: 1280px;
        height: 640px;
        flex-shrink: 0;
        margin: auto;
    }
    
    .bannedContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 640px;
        height: 640px;
        flex-shrink: 0;
       
    }

    .Vector {
        width: 42px;
        height: 44px;
        flex-shrink: 0;
    }
    
    .Group28 {
        width: 410px;
        height: 460px;
        flex-shrink: 0;
<<<<<<< HEAD
        margin: 55px 0px 0px 30px
=======
        margin-top: 60px;
>>>>>>> b37b17282ef538279ca717572763c7dbe5746b35
    }
    
    h1 {
        color: #000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
        font-family: Lato;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-top: 32px;
        margin-bottom: 32px;
        width: 405px;
    }

    button {
        border-radius: 10px;
    }
    
    .registration {
        width: 260px;
        height: 52px;
        border: 1px solid #0057FF;
        background: #0057FF;
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .Container {
        /* width: 960px; */
        /* display: flex;
        margin: auto; */
        margin-top: 30px;
    }

   
    .logIn {
        margin-top: 16px;
        width: 260px;
        height: 52px;
        flex-shrink: 0;
        border: 1px solid #0057FF;
        color: #0057FF;
        text-align: center;
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        background-color: #FFF;
    }

    .background {
        width: 640px;
        height: 640px;
        flex-shrink: 0;
    }
    
    .cover {
        width: 640px;
        height: 640px;
        flex-shrink: 0;
        background-image: url(./dekstopbanner.svg);
        background-size: cover;
    }
    
    .rectangle21 {
        width: 640px;
        height: 640px;
        flex-shrink: 0;
    }

    .statistics {
        display: flex;
        justify-content: space-around;
        /* flex-direction:row; */
        align-items: center;
        width: 960px;
        height: 185px;
        flex-shrink: 0;
        background: #0057FF;
        padding-top: 20px;
        margin: auto;
    }
    
    .num {
        color: #FFF;
        text-align: center;
        font-family: Lato;
        font-size: 72px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    .small {
        margin-top: 12.5px;
        font-size: 18px;
        font-weight: 400;
    }
    
    .Group {
        width: 200px;
        height: 146px;
        flex-shrink: 0;
    }

    h2 {
        width: 960px;
        color: #000;
        font-family: Lato;
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-align: left;
        padding-bottom: 14px;
    }

    .allMessages {
        /* display: flex;
        flex-direction: column; */
        width: 960px;
<<<<<<< HEAD
        /* height: 965px; */
=======
        height: 988px;
>>>>>>> b37b17282ef538279ca717572763c7dbe5746b35
        flex-shrink: 0;
        margin: auto
    }

    .feed {
        width: 632px;
<<<<<<< HEAD
        /* height: 921px; */
=======
        height: 921px;
>>>>>>> b37b17282ef538279ca717572763c7dbe5746b35
        flex-shrink: 0;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        float: left;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.05);
        margin: auto;
    }
    

    .post {
        /* width: 632px; */
        /* height: 114px; */
        flex-shrink: 0;
        padding: 16px;
    }
        
    .ellipse {
        flex-shrink: 0;
        fill: #C4C4C4;
    }
    
    .avatar {
        float: left;
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        background: url(public/Ellipse1.png) lightgray 50% / cover no-repeat;
        border-radius: 30px;
        margin-right: 12px;
    }
    
    .name {
        /* width: 77px; */
        height: 24px;
        color: #1D1E22;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: 24px; /* 150% */
        float: left;
        padding-right: 14px;
    }
    
    .nick {
        width: 152.665px;
        height: 24px;
        flex-shrink: 0;
        color: #ABACB1;
        font-weight: 400;
    }
    
    .hsbSent {
        position: relative;
        width: 126px;
        height: 24px;
        flex-shrink: 0;
        color: #ABACB1;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        float: right;
        left: 40px;
    } 
    
    .text {
<<<<<<< HEAD
        display: inline;
        width: 520px;
=======
        width: 520px;
        /* height: 22px; */
>>>>>>> b37b17282ef538279ca717572763c7dbe5746b35
        flex-shrink: 0;
        color: #1D1E22;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
<<<<<<< HEAD
        padding-top: 10px;
=======
        padding-top: 5px;
>>>>>>> b37b17282ef538279ca717572763c7dbe5746b35
        float: left;
    }
    
    .reactions {
        display: flex;
        width: 524px;
        height: 24px;
        float: right;
        left: 50px;
    }
    
    .container {
        display: flex;
        justify-content: space-between;
        float: right;
        width: 269px;
        margin-top: 8px;
        flex-shrink: 0;
<<<<<<< HEAD
        /* padding-bottom: 8px; */
=======
>>>>>>> b37b17282ef538279ca717572763c7dbe5746b35
        /* border: 1px solid blanchedalmond; */
    }

    
    .replies {
        display: flex;
        align-items: center;
    }
    
    .numbers {
        width: 20px;
        height: 24px;
        margin-left: 9px;
        flex-shrink: 0;
        color: #B1B1B1;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        text-align: left;
    }
    
    .Elon {
        width: 260px;
        height: 25px;
        flex-shrink: 0;
    }
    
    .photoPingPong {
        position: relative;
        right: 8px;
        display: flex;
        margin-top: 12px;
        float: right;
        width: 520px;
        height: 342px;
        flex-shrink: 0;
        border-radius: 10px;
        background: url(./deks.ping-pong.svg), lightgray 50% / cover no-repeat;
    }
    
    .Mia {
        width: 520px;
        height: 98px;
        flex-shrink: 0;
        /* color: #FFFFFF00; */
    }
    
    .Line {
        width: auto;
        min-height: 1px;
        background: #E9E9E9;
    }
    
    /* Актуальные темы и интересные блогеры */

    .aside {
        float: right;
        width: 312px;
        height: 559px;
        flex-shrink: 0;
        margin-left: 16px;
    }

    /* .rightBar {
        margin: 0px 16px 0px 16px;
    } */

    h4, h5 {
        color: #1D1E22;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; /* 177.778% */
        text-align: left;
    }

    h4 {
        padding: 8px 138px 13px 16px;
    }

    .Trends {
        width: 312px;
        height: 295px;
        flex-shrink: 0;
        background: #FFF;
        border-radius: 10px;
    }

    .trends {
        padding-left: 16px;
        width: 312px;
        height: 48px;
        flex-shrink: 0;
        color: #1D1E22;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 125% */
    }

<<<<<<< HEAD
    .bottom, .nickGroup {
=======
    .bottom {
>>>>>>> b37b17282ef538279ca717572763c7dbe5746b35
        color: #ABACB1;
        font-family: Lato;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 160% */
    }

    h5 {
        padding: 6.94px 95px 13.31px 16px;
    }

    .Users {
        margin-top: 16px;
        width: 312px;
        height: 248px;
        flex-shrink: 0;
        background: #FFF;
        border-radius: 10px;
    }

    .user {
        display: flex;
        /* justify-content: space-between; */
        width: 312px;
        height: 64px;
        flex-shrink: 0;
    }

    .title {
        margin-top: 10px;
        width: 113px;
        height: 18px;
        margin-right: 34px;
        flex-shrink: 0;
        flex-shrink: 0;
    }

    .avatarOfUser {
        margin: 8px 16px;
        border-radius: 48px;
        width: 48px;
        height: 48px;
    }

    .readButton {
        color: #0057FF;
        text-align: center;
<<<<<<< HEAD
        font-family: Lato;
        font-size: 14px;
=======
        font-family: Roboto;
        font-size: 10px;
>>>>>>> b37b17282ef538279ca717572763c7dbe5746b35
        font-style: normal;
        font-weight: 500;
        line-height: 14px; /* 140% */
        text-align: center;
        margin-top: 16px;
        padding-top: 6px;
        width: 69px;
        height: 20px;
        border-radius: 5px;
        border: 1px solid #0057FF;
        background: #FFF;
    }

    /* Подвал сайта */

    footer {
<<<<<<< HEAD
        /* display: flex; */
        /* justify-content: center;
        align-items: flex-end; */
=======
        display: flex;
        justify-content: center;
        align-items: flex-end;
>>>>>>> b37b17282ef538279ca717572763c7dbe5746b35
        flex-shrink: 0;
        background: linear-gradient(0deg, #F4F5F6 21.87%, rgba(244, 245, 246, 0.00) 100%);;
    }

    .content {
<<<<<<< HEAD
        padding-top: 35px;
        margin-bottom: 50px;
=======
>>>>>>> b37b17282ef538279ca717572763c7dbe5746b35
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-width: 1280px;
    }

    .buttonsFooter {
        display: flex;
        width: 536px;
        height: 52px;
        flex-shrink: 0;
        margin-top: 32px;
        
    }

    h3 {
        box-sizing: border-box;
        flex: 0 0 auto;
        max-width: 641px;
        font: 900 48px Lato;
        color: black;
        text-align: center;
    }
    
    .registrationFooter {
        margin: 0px 15px 10px 0px;
        width: 260px;
        height: 52px;
        flex-shrink: 0;
        background: #0057FF;
        color: #FFFFFF;
        text-align: center;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .logInFooter {
        margin: 0px 0px 10px 15px;
        width: 260px;
        height: 52px;
        flex-shrink: 0;
        color: #0057FF;
        border-color: #0057FF;
        text-align: center;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

 /* Modals */

 .regPopup {
    transition: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.60);
    top: 0;
    left: 0;
    /* transition: opacity .4s, visibility .4s; */
}

.modal {
    width: 362px;
    border-radius: 25px;
    background: white;
    padding: 17px 16px;
}

/* 
.regPopup.open {
    opacity: 1;
    visibility: visible;
} */

.handler {
    display: flex;
    width: 21px;
    height: 21px;
    background-image: url(./X.svg);
}

.closeWindow {
    display: flex;
    justify-content: end;
}

.formName {
    width: 355px;
    display: flex;
    justify-content: space-between;
    color: #1D1E22;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px; /* 116.667% */
    margin-bottom: 15px;
}

form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 330px;
    height: 408px;
    box-sizing: border-box;
    /* flex: 0 0 auto; */
}

.form {
    display: flex;
    flex-direction: column;
    width: 328px;
    height: 52px;
    flex-shrink: 0;
    box-sizing: border-box;
    flex: 0 0 auto;
    background: white;
    border-radius: 10px;
    margin-bottom: 15px;
}

.symbols {
    position: absolute;
    font-weight: 400;
    font-size: 9px;
    line-height: 11px;
    left: 15px;
    opacity: 0;
    visibility: hidden;
}

.error {
    color: #E40060;
    font-family: Lato;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input {
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    padding: 12px 15px;
    font-size: 18px;
    line-height: 22px;
    color: black;
    width: 330px;
}

.inputReg {
    width: 362px;
    padding: 15px 16px;
}

.formAuthorization {
    width: 100%;
    height: 260px;
}

.padding {
    padding-left: 15px
}

.red {
    border-radius: 10px;
    border: 1px solid #FF97C3;
    background: #FFDEEC;
}

<<<<<<< HEAD
.color-grey {
    background-color: lightgray;
    border: 0px solid lightgray;
    color: lightgray;
    margin-bottom: 13px;
    line-height: 1.5;
}

.topic, .messagesTopic {
    background-color: lightgray;
    color: lightgray;
    margin-bottom: 6px;
    width: 270px;
}

.messagesTopic {
    width: 100px;
}


};
=======
/* }; */

>>>>>>> b37b17282ef538279ca717572763c7dbe5746b35
